#nav-bar {
    background-color: rgb(230, 230, 230);
    padding: 1px 10px 33px 15px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    margin-right: clamp(.8em, 12vw, 12em);
}

#nav-links {
    float: right;
    margin-bottom: 30px;
}

.link {
    margin: 0 15px 0 0;
    font-size: 20px;
}

#container-inside-nav {
    width: 60%;
}

@media all and (min-width: 600px) {

    #nav-bar {
        padding: 20px 13% 60px;
    }

    .link {
        margin: 0 22px 0 0;
        font-size: 30px;
    }

    #container-inside-nav {
        width: 75%;
        margin: 0 auto;
    }
}